{% extends 'computer/base.html' %}

{% block content %}
    <div class="container">
        <h3 class="mt-4">Welcome to the Westholme Computer Management System</h3>
        <p>
            This website allows you to manage and keep track of various computers.
            It provides information about each computer, including its name, model,
            AnyDesk connection details, and associated user.
        </p>
        <p>
            You can view the list of computers, search for specific computers, and
            perform other administrative actions depending on your privileges.
        </p>
        <p>
            Feel free to navigate through the website and explore the computer
            management features. If you have any questions or need assistance,
            please don't hesitate to contact the system administrator.
        </p>
    </div>
{% endblock %}
